node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.example
.env.local
.env.production
.env.testing
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.phpunit.result.cache
tests/
.editorconfig
.php_cs.cache
.php_cs.dist
.phpcs.xml
.phpunit.xml
psalm.xml
psalm-baseline.xml
